<form action="/add" method="POST">
    <h3>Add Author language</h3>
    <label for="author_name">Fullname: </label>
    <input type="text" name="author_name" id="author_name">

    <label for="author_age">Age: </label>
    <input type="number" name="author_age" id="author_age">

    <label for="author_gender">Gender: </label>
    <select name="author_gender" id="author_gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select>

    <label for="author_country">Country of origin: </label>
    <input type="text" name="author_country" id="author_country">

    <div>
        <button>Add</button>
        <a href="/">Close</a>
    </div>
</form>