<!DOCTYPE html>
<html lang="en">
<head>
</head>
<script src="/jss/script.js" defer></script>
<body>
    <form class="genre-form" action="" method="POST">
        <%if(locals.update){%>
            <h3>Update genre (<%= locals.value.genre_name%>)</h3>
        <%}else{%>
            <h3>Add new genre</h3>
        <%}%>
        <%- include("errors")%>
        <div>
            <label for="genre_name">Name: </label>
            <%if(locals.update){%>
                <input required value="<%= locals.value.genre_name%>" type="text" name="genre_name" id="genre_name" placeholder="Enter new value">
            <%}else{%>
                <input required type="text" name="genre_name" id="genre_name" placeholder="Enter new genre">
            <%}%>
        </div>
        <div>
            <%if(locals.update){%>
                <button>Update</button>
            <%}else{%>
                <button>Add</button>
            <%}%>
            <button type="reset">Reset</button>
            <a href="/genres">Close</a>
        </div>
</form>
</body>
</html>