<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/languages.css" type="text/css">
</head>
<script defer src="/jss/script.js"></script>
<body>
    <form class="language-form" action="" method="POST">

        <%if(locals.update){%>
            <h3>Update language (<%= locals.value.language_name%>)</h3>
        <%}else{%>
            <h3>Add new language</h3>
        <%}%>
        <%- include("errors")%>
        <div>
            <label for="language_name">Enter language: </label>
            <%if(locals.update){%>
                <input required value="<%= locals.value.language_name%>" type="text" name="language_name" placeholder="Enter language" id="language_name">
            <%}else{%>
                <input required type="text" name="language_name" placeholder="Enter language" id="language_name">
            <%}%>
        </div>
        <div>
            <%if(locals.update){%>
                <button>Update</button>
            <%}else{%>
                <button>Add</button>
            <%}%>
            <button type="reset">Reset</button>
            <a href="/languages">Close</a>
        </div>
    </form>
</body>

</html>