<nav>
    <div class="navbar-container">
        <a href="./">
            <h2>
                Manga[kan]
            </h2>
        </a>
        <div class="inner-navbar-container">
            <ul>
                <li><a href="/mangas">Mangas</a></li>
                <li><a href="/publishers">Publishers</a></li>
                <li><a href="/authors">Authors</a></li>
                <li><a href="/genres">Genres</a></li>
                <li><a href="/languages">Languages</a></li>
            </ul>
        </div>

    </div>
</nav>