<nav>
    <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./all">Categories</a></li>
        <li><a href="./authors">Authors</a></li>
        <li><a href="./languanges">Languages</a></li>
        <li><a href="./mangas">Mangas</a></li>
        <li><a href="./publishers">Publishers</a></li>
        <li><a href="./genres">Genres</a></li>
    </ul>
</nav>