<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/publishers.css" type="text/css">
</head>
<script src="/jss/script.js" defer></script>
<body>
    <form class="publisher-form" action="" method="POST">
        <% if(locals.update){ %>
            <h3>Update Publisher ( <%= locals.value.publisher_name%> )</h3>
        <% }else{ %>
            <h3>Add new publisher</h3>
        <% }%>
        <%- include("errors")%>
        <div>
            <label for="publisher_name">Name: </label>
            <% if(locals.update){ %>
                <input required value="<%= locals.value.publisher_name%>" type="text" name="publisher_name" placeholder="Enter publisher name" id="publisher_name">
            <% }else{ %>
                <input required type="text" name="publisher_name" placeholder="Enter publisher name" id="publisher_name">
            <% }%>
        </div>
        <div>
            <label for="publisher_country">Country: </label>
            <% if(locals.update){ %>
                <input required value="<%= locals.value.publisher_country%>" type="text" name="publisher_country" placeholder="Enter publisher country" id="publisher_country">
            <% }else{ %>
                <input required type="text" name="publisher_country" placeholder="Enter publisher country" id="publisher_country">
            <% }%>
        </div>
        <div>
            <% if(locals.update){ %>
                <button>Update</button>
            <% }else{ %>
                <button>Add</button>
            <% }%>
            <button type="reset">Reset</button>
            <a href="/publishers">Close</a>
        </div>
    </form>
</body>
</html>