<form action="/add" method="POST">
    <h3>Add new publisher</h3>
    <label for="publisher_name">Enter publisher name</label>
    <input type="text" name="publisher_name" id="publisher_name">
    <div>
        <button>Add</button>
        <a href="/">Close</a>
    </div>
</form>