<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/genres.css" type="text/css">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <title>Genres | Manga[kan]</title>
</head>
<body>
    <%- include("./partials/navbar")%>
        <div class="main-page">
            <%rows.forEach((row,index) => {%>
                <div class="box">
                    <div>
                        <h1><%= (index + 1) + ". "+ row.name%></h1>
                    </div>
                    <a class="edit-link" href="">Edit</a>
                </div>
            <%})%>
        </div>
</body>
</html>