<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/css/index.css" type="text/css">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <title>Manga[kan]: Inventory management</title>
    </head>
    <body>
        <!-- <%- include("./partials/navbar")%> -->
        <div class="main-page">
            <h1 class="logo-text" style="text-align: center;">Manga[kan]</h1>
            <p>A manga inventory management app.</p>
            <div class="category-box">
                <div class="category-item">
                    <a href="./mangas">Mangas</a>
                </div>
                <div class="category-item">
                    <a href="./languages">Languages</a>
                </div>
                <div class="category-item">
                    <a href="./authors">Authors</a>
                </div>
                <div class="category-item">
                    <a href="./genres">Genres</a>
                </div>
                <div class="category-item">
                    <a href="./publishers">Publishers</a>
                </div>
            </div>
        </div>
    </body>
</html>