.main-page {
    display: block;
}

.box {
    outline: 1px solid black;
    padding: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.box > a {
    padding: 10px;
}

.genre-form {
    margin: 0px 20px 20px 20px;
    padding: 10px;
    outline: 1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.genre-form > div {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genre-form > div > button {
    padding: 10px;
}

.genre-form > ul {
    list-style-type: none;
    color: red;
}

