.main-page {
    display: block;
}

.box {
    min-width: min-content;
    outline: 1px solid black;
    padding: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

/* manga image */
.cover-image {
    width: 400px;
    height: 450px;
    outline: 1px solid black;
}

.box > .manga-detail {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.box > .manga-detail > h2 {
    font-size: 32px;
}

.link-holder {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.link-holder > form > button {
    padding: 10px;
    font-size: 16px;
}

.manga-form {
    margin: 0px 20px 20px 20px;
    padding: 10px;
    outline: 1px solid black;
    display: flex;
    align-items: flex;
    flex-direction: column;
    gap: 20px;
}

.manga-form > div {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manga-form > div > input {
    font-size: 13px;
    padding: 2px;
}

.manga-form > div > textarea {
    width: 350px;
    height: 200px;
    resize: none;
}

.manga-form > div > button {
    padding: 10px;
}

.manga-form > ul {
    list-style-type: none;
    color: red;
}
